In [288]:
#Import the dependencies
import pandas as pd
import numpy as np
import json

In [289]:
#open json1 and read
with open("purchase_data.json") as datafile:
    data1 = json.load(datafile)
    


dataframe = pd.DataFrame(data1)

In [290]:
#open json 2 and read
with open("purchase_data2.json") as datafile:
    data2 = json.load(datafile)
dataframe2 = pd.DataFrame(data2)

In [291]:
#conctinate dataframes
bigdata = pd.concat([dataframe, dataframe2], ignore_index=True)
bigdata.columns = bigdata.columns.str.replace('\s+', '_')
bigdata.head()

,Age,Gender,Item_ID,Item_Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [292]:
#count the number of gamers
total_gamers = len(bigdata)

In [293]:
#Create the DataFrame for total players
playersdf =pd.DataFrame({"Total Players":[total_gamers]})
playersdf = playersdf[["Total Players"]]
playersdf = playersdf.round(2)
playersdf

   Total Players
0            858

In [294]:
#Calculate for the weapons total
average = bigdata["Price"].mean()
total_revenue = bigdata["Price"].sum()

#create a dataframe that lists the diffrent unique weapons and 
unique_weapon = pd.DataFrame(bigdata["Item_Name"].value_counts())
unique_weapon.reset_index(inplace=True)

unique_weapon.columns = ["Weapon", "Count"]
unique_weapons = len(unique_weapon)

#Use the unique weapin DF to sum the total count of puchases
total_purchases = unique_weapon["Count"].sum()

In [295]:
#Create a Purchasing Analysis DF playersdf =pd.DataFrame({"Total_Players":[total_gamers]})
total_purchasesdf =pd.DataFrame({ "Number Of Unique Items":[unique_weapons],
                                 "Average Price":[average],
                                  "Number Of Purchases":[total_purchases],
                                  "Total Revenue":[total_revenue]
})
total_purchasesdf = total_purchasesdf[["Number Of Unique Items",
                                      "Average Price",
                                      "Number Of Purchases",
                                      "Total Revenue"]]
total_purchasesdf = total_purchasesdf.round(2)
total_purchasesdf

   Number Of Unique Items  Average Price  Number Of Purchases  Total Revenue
0                     180           2.93                  858        2514.43

In [296]:
#Calculate for Gender Demographics
total_gender = len(bigdata)
male = bigdata["Gender"].value_counts()['Male']
female = bigdata["Gender"].value_counts()['Female']
non_specified = total_gender - male - female
print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n non_specfic: {non_specified}")

 Total: 858
 Male: 697
 Female: 149
 non_specfic: 12

In [297]:
male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
non_specified_percent = (non_specified/total_gender) * 100
print(f" % Male: {male_percent}\n % Female: {female_percent}\n % non_specifc: {non_specified}")

 % Male: 81.23543123543124
 % Female: 17.365967365967368
 % non_specifc: 12

In [298]:
#player_gender_count_df = pd.DataFrame(player_gender)

In [299]:
player_gender = player_gender_count_df['Gender']/ total_gender * 100
player_gender_count_df["Percentage of Genders"] = player_gender
ro_player_gender_count_df = player_gender_count_df[["Percentage of Genders","Gender"]]
rn_ro_player_gender_count_df =ro_player_gender_count_df.rename(columns={"Gender":"Total Count"})
rn_ro_player_gender_count_df["Percentage of Genders"] = rn_ro_player_gender_count_df["Percentage of Genders"].map("{0:,.2f}%".format)
rn_ro_player_gender_count_df
#DataFrame bellow shows the Gender Demos

                      Percentage of Genders  Total Count
Male                                  9.47%    81.235431
Female                                2.02%    17.365967
Other / Non-Disclosed                 0.16%     1.398601

In [300]:
#Purchasing Analysis By Gender
purchase_gender = bigdata['Gender'].value_counts()
purchase_gender.head()

Male                     697
Female                   149
Other / Non-Disclosed     12
Name: Gender, dtype: int64

In [301]:
gender_purchase_count = bigdata.groupby(["Gender"])
#gender_purchase_counts = purchase_gender_count.sum()
gender_purchase_count.count().head(10)

                       Age  Item_ID  Item_Name  Price   SN
Gender
Female                 149      149        149    149  149
Male                   697      697        697    697  697
Other / Non-Disclosed   12       12         12     12   12

In [302]:
gender_average = gender_purchase_count["Price"].mean()
gender_average

Gender
Female                   2.847584
Male                     2.944448
Other / Non-Disclosed    3.155000
Name: Price, dtype: float64

In [303]:
gender_revenue = gender_purchase_count["Price"].sum()
gender_revenue

Gender
Female                    424.29
Male                     2052.28
Other / Non-Disclosed      37.86
Name: Price, dtype: float64

In [309]:
gender_summary_table = pd.DataFrame({"Purchase Count":purchase_gender,
                                    "Avg. Purchase Price":gender_average,
                                    "Total Purchase Value":gender_revenue})
gender_summary_table

,Avg. Purchase Price,Purchase Count,Total Purchase Value
Female,2.847584,149,424.29
Male,2.944448,697,2052.28
Other / Non-Disclosed,3.155000,12,37.86